# APP
API_PORT=4005
API_HOST=http://localhost:4005
WEB_URL=http://localhost:5173
NODE_ENV=development

# DB
DB_HOST=localhost
DB_PORT=27017
DB_PASS='70306bb16bbc6b6d459b9c958236fb14ead48b08cd9a96e6ac88a53edbc8cf1'
DB_USER=pesasync-admin
DB_DEFAULT=pesasync
DB_URI_DEV=mongodb://{{DB_USER}}:{{DB_PASS}}@{{DB_HOST}}:{{DB_PORT}}/{{DB_DEFAULT}}?authMechanism=DEFAULT&authSource=admin
DB_URI_PROD=mongodb://

# JWT
JWT_SECRET='66cd13a97a6c546fe74b2fe6cfb33799e87779bd564d71bb4c2ba49d658c43f0'
JWT_TOKEN_AUDIENCE=http://localhost:4005
JWT_TOKEN_ISSUER=http://localhost:4005
JWT_ACCESS_TOKEN_TTL=3600
JWT_REFRESH_TOKEN_TTL=86400



     